@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* body {
		transition: background-color 0.5s ease;
	} */

	.prose code {
		@apply text-base;
	}

	/* prose styles here */
	.prose h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-zinc-800 dark:text-zinc-100   !important;
	}

	html.dark .shiki,
	html.dark .shiki span {
	  color: var(--shiki-dark) !important;
	  background-color: theme(colors.gray.900) !important;
	}
}

.glass {
	background: rgba(57, 56, 56, 0.52);
	backdrop-filter: blur(13px) saturate(150%);
	-webkit-backdrop-filter: blur(13px) saturate(150%);
	z-index: -1;
}

.shadow {
	box-shadow: -5px 3px 8px 1px rgba(0, 0, 0, 0.12);
}

body{
	color-scheme: light dark;
}

svg{
	@apply stroke-secondary text-secondary dark:stroke-primary dark:text-primary
}

.btn{
    @apply block px-4 py-2 mt-5 text-xs font-semibold text-center duration-300 ease-out border rounded dark:text-white
}

.btn-active{
    @apply bg-neutral-900 dark:bg-neutral-100 dark:hover:border-neutral-300 dark:text-neutral-800 dark:hover:bg-neutral-950 dark:hover:text-neutral-100 text-neutral-100 border-neutral-900 hover:bg-white hover:text-neutral-900 cursor-pointer
}
.btn-disabled{
    @apply cursor-not-allowed text-black  dark:bg-gray-300
}
.pakistan {
    width: 20px;
    height: auto; 
    vertical-align: middle
}
