---
import BaseHead from "@/components/BaseHead";
import Header from "@/components/HeaderX";
import Footer from "@/components/Footer";
import ProviderTheme from "@/components/ProviderTheme";
import ProviderAnimations from "@/components/ProviderAnimations";
import GoogleTagHead from "@/components/GoogleTagHead";
import GoogleTagBody from "@/components/GoogleTagBody";
const { title, description, image, articleDate, keywords } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <GoogleTagHead />
    <BaseHead
      title={title}
      description={description}
      ogImage={image}
      articleDate={articleDate}
      keywords={keywords ?? []}
    />
    <ProviderTheme />
    <ProviderAnimations />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- <script
      async
      custom-element="amp-auto-ads"
      src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js" is:inline></script>
    <script
      async
      custom-element="amp-ad"
      src="https://cdn.ampproject.org/v0/amp-ad-0.1.js" is:inline></script> -->
      <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7415679537348503"
      crossorigin="anonymous" is:inline></script>
      <script is:inline>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
  </head>
  <body class="bg-white text-stone-950 dark:bg-[#0a0910] dark:text-white">
    <amp-auto-ads type="adsense" data-ad-client="ca-pub-7415679537348503">
    </amp-auto-ads>
    <GoogleTagBody />
    <Header />
    <main
      class="px-5 sm:mx-auto sm:max-w-2xl sm:px-8 lg:px-0 antialiased md:max-w-6xl grid gap-12 mt-4 overflow-hidden md:overflow-visible"
    >
      <slot />
      <Footer />
    </main>
    <style>
      body {
        margin-left: calc(100vw - 100%); /* prevent layout shift */
      }
    </style>
    <script
      async
      type="application/javascript"
      src="https://news.google.com/swg/js/v1/swg-basic.js"
      is:inline></script>
    <script is:inline>
      // @ts-ignore
      (self.SWG_BASIC = self.SWG_BASIC || []).push((basicSubscriptions) => {
        basicSubscriptions.init({
          type: "NewsArticle",
          isPartOfType: ["Product"],
          isPartOfProductId: "CAow7Je2DA:openaccess",
          clientOptions: { theme: "light", lang: "en" },
        });
      });
    </script>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-QQSGW40WTM"
      is:inline></script>
    <script is:inline>
      // @ts-ignore
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        // @ts-ignore
        dataLayer.push(arguments);
      }
      // @ts-ignore
      gtag("js", new Date());
      // @ts-ignore
      gtag("config", "G-QQSGW40WTM");
    </script>
  </body>
</html>
